@using Arch.Mvc.Helpers
@using Arch.CqrsClient.Models
@using Arch.Infra.Shared.Pagination
@model PagedResult<CustomerItemIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (ViewBag.MessageSuccess != null)
{
    <div style="margin-top:10px;" class="alert alert-success" role="alert">
        <p>@ViewBag.MessageSuccess</p>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th><a href="@Html.GetSortingUrl(Model, "FirstName", this.Request.RawUrl)">Name</a></th>
            <th><a href="@Html.GetSortingUrl(Model, "EmailAddress", this.Request.RawUrl)">Email</a></th>
            <th><a href="@Html.GetSortingUrl(Model, "BirthDate", this.Request.RawUrl)">BirthDate</a></th>
            <th><a href="@Html.GetSortingUrl(Model, "Score", this.Request.RawUrl)">Score</a></th>
            <th><a href="@Html.GetSortingUrl(Model, "Address.Street", this.Request.RawUrl)">Address</a></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.BirthDate</td>
            <td>@item.Score</td>
            <td>@item.Address</td>

            <td>@Html.ActionLink("Edit", "Edit", new { customerId = item.Id }, new { @class = "btn btn-warning" })</td>
            <td>@Html.ActionLink("History", "History", "EventSourcing", new { aggregateId = item.Id, controllerName = "Customer", actionName = "Index" }, new { @class = "btn btn-success" })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { item.Id }, new { @class = "btn btn-danger" })</td>


        </tr>
        }
    </tbody>
</table>
@Html.GetPager(this.Model, this.Request.RawUrl)
